/* GLOBAL */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.header .nav ul {
  display: flex;
  list-style: none;
}

.header .nav ul li a {
  text-decoration: none;
  margin: 1rem;
}

/* SECTIONS */

#search {
  height: 80vh;
  background: url(./img/header-img.png) no-repeat #000;
  background-size: 100% auto;
  border-radius: 0 0 5rem 5rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
  margin-top: 5rem;
}

.form-group {
  position: relative;
}

.form-group input {
  padding: 1rem 1rem 0rem 1.5rem;
  outline: 0;
  border: none;
  border-right: 1px solid #dddddd;
}

.form-group input::placeholder {
  font-size: 0.9rem;
}

.form-group label {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 500;
  left: 25px;
  top: -2.5px;
}

.form-group .search-button {
  background-color: #2962ff;
  color: #fff;
  font-weight: 400;
  font-size: 0.9rem;
  border: none;
  margin: 10px 5px;
  border-radius: 3px;
  padding: 15px 25px;
  cursor: pointer;

  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.025rem;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in-out;
  margin-left: 1rem;
}

.form-group .search-button:hover {
  background-color: #1c44b2;
  top: -3px;
  box-shadow: rgba(80, 80, 80, 0.15) 0px 5px 15px;
}
